* {
    margin:0;
    padding:0
}
html,body {
    width:100%;
    height:100%;
    overflow:hidden
}
#main {
    width:640px;
    height:960px;
    overflow:hidden;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-320px;
    -webkit-transform-origin:top;
    transform-origin:top
}
#list {
    height:100%
}
#list li {
    width:100%;
    height:100%;
    position:absolute;
    background-repeat:no-repeat;
    background-size:cover
}
#list li.zIndex {
    z-index:5
}
#list li:nth-child(1) {
    background-image:url(images/b1.jpg)
}
#list li:nth-child(2) {
    background-image:url(images/b1.jpg)
}
#list li:nth-child(3) {
    background-image:url(images/b1.jpg)
}
#list li:nth-child(4) {
    background-image:url(images/b1.jpg)
}
#list li:nth-child(5) {
    background-image:url(images/b1.jpg)
}
#list li:nth-child(6) {
    background-image:url(images/b1.jpg)
}
#list li:nth-child(7) {
    background-image:url(images/b1.jpg)
}
.a1 {
    width:80%;
    height:88%;
    margin:10%;
    overflow:hidden;
    text-align:center;
    position:relative;
    font-size:53px
}
.a1 div:nth-child(1) {
    margin-top:78px;
    width:351px;
    margin-left:75px;
    height:75px;
    line-height:75px;
    border:2px double plum;
    font-size:49px;
    padding:0 20px;
    border-radius:20px;
    font-weight:bold;
    box-shadow:3px 3px 3px 10px papayawhip;
    background:papayawhip;
    -webkit-transform:translate(500px,0);
    transform:translate(500px,0)
}
.a1 div:nth-child(2) {
    margin-top:78px;
    -webkit-transform:translate(-500px,0);
    transform:translate(-500px,0)
}
.a1 div:nth-child(2) img {
    border-radius:50%
}
.a1 div:nth-child(3){
    margin-top:78px;
    width:395px;
    margin-left:30px;
    height:75px;
    line-height:75px;
    border:2px double plum;
    font-size:23px;
    padding:0 20px;
    border-radius:20px;
    font-weight:bold;
    box-shadow:3px 3px 3px 10px papayawhip;
    background:papayawhip;

}
.a1 div:nth-child(3){
    -webkit-animation: circle1 1s 2 ease-in;
    animation: circle1 1s 2 ease-in;
}


.a1 div:nth-child(4) {
    position:absolute;
    bottom:20px;
    width:88px;
    height:78px;
    background:url("./images/未标题-2.png") no-repeat;
    background-size:100% 100%
}
#a1 div:nth-child(2) img {
    -webkit-animation:circle 1s 1 ease-in-out;
    animation:circle 1s 1 ease-in-out
}
#a1 div {
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:.5s ease-in-out;
    transition:.5s ease-in-out
}
.a2 .b1 {
    margin-top:83px;
    width:277px;
    margin-left:178px;
    height:75px;
    line-height:75px;
    font-size:30px;
    padding:0 20px;
    border-radius:20px;
    background:papayawhip;
    box-shadow:3px 3px 3px 5px papayawhip;
    border:1px double purple;
    font-weight:bold
}
#a2 .b1 {
    -webkit-animation:circle 1s 1 ease-in;
    animation:circle 1s 1 ease-in
}
@-webkit-keyframes circle {
    0% {
        -webkit-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
    100% {
        -webkit-transform:rotateY(360deg);
        transform:rotateY(360deg)
    }
}#a2 .b2 {
     -webkit-animation:circle1 1s 1 ease-in;
     animation:circle1 1s 1 ease-in
 }
@keyframes circle1 {
    0% {
        -webkit-transform:rotateX(0deg);
        transform:rotateX(0deg)
    }
    50% {
        -webkit-transform:rotateX(180deg);
        transform:rotateX(180deg)
    }
    100% {
        -webkit-transform:rotateX(360deg);
        transform:rotateX(360deg)
    }
}.a2 .b2 {
     position:absolute;
     bottom:85px;
     width:370px;
     margin-left:121px;
     height:75px;
     line-height:75px;
     font-size:30px;
     padding:0 22px;
     border-radius:20px;
     background:papayawhip;
     box-shadow:3px 3px 3px 5px papayawhip;
     border:1px double purple;
     font-weight:bold
 }
.a2 p {
    width:150px;
    height:90px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-45px;
    margin-top:-45px;
    border-radius:30px;
    font-size:30px;
    font-weight:bold;
    color:white;
    line-height:90px;
    text-align:center
}
.a2 p:nth-child(1) {
    background:papayawhip
}
.a2 p:nth-child(2) {
    background:plum
}
.a2 p:nth-child(3) {
    background:palegreen
}
.a2 p:nth-child(4) {
    background:palevioletred
}
.a2 p:nth-child(5) {
    background:peru
}
.a2 p:nth-child(6) {
    background:deepskyblue
}
.a2 p:nth-child(7) {
    background:fuchsia
}
#a2 p {
    -webkit-transform:rotate(720deg);
    transform:rotate(720deg);
    -webkit-transition:1s;
    transition:1s;
    transform-origin:50% 80%;
    -webkit-animation:shak 2s 1 ease-in-out;
    animation:shak 2s 1 ease-in-out
}
@-webkit-keyframes shak {
    0% {
        -webkit-transform:rotate(-45deg);
        transform:rotate(-45deg)
    }
    50% {
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg)
    }
}@keyframes shak {
     0% {
         -webkit-transform:rotate(-45deg);
         transform:rotate(-45deg)
     }
     50% {
         -webkit-transform:rotate(45deg);
         transform:rotate(45deg)
     }
 }#a2 p:nth-child(1) {
      left:45%;
      top:30%
  }
#a2 p:nth-child(2) {
    left:15%;
    top:40%
}
#a2 p:nth-child(3) {
    left:75%;
    top:40%
}
#a2 p:nth-child(4) {
    left:15%;
    top:60%
}
#a2 p:nth-child(5) {
    left:75%;
    top:60%
}
#a2 p:nth-child(6) {
    left:45%;
    top:70%
}
#a2 p:nth-child(7) {
    left:45%
}
.a3 {
    position:relative
}
.a3 div:nth-child(1) {
    margin-top:83px;
    width:295px;
    margin-left:150px;
    height:75px;
    line-height:75px;
    padding:0 40px;
    background:url("images/6.png") no-repeat 100px -16px;
    background-size: auto;
    font-weight:bold;
    margin-bottom:50px;
    -webkit-animation: circle 3s infinite  ease-in;
    animation: circle 3s infinite  ease-in;
}
.a3 span {
    font-size:29px
}
.a3 div:nth-child(2),.a3 div:nth-child(4),.a3 div:nth-child(6),.a3 div:nth-child(8),div:nth-child(10) {
    line-height:30px;
    margin-left:94px;
    margin-top:48px;
    font-size:41px;
    text-shadow:2px 2px 0 #000
}
.a3 div:nth-child(2) span,.a3 div:nth-child(4) span,.a3 div:nth-child(6) span,.a3 div:nth-child(8) span,div:nth-child(10) span {
    font-size:29px
}
#a3 div:nth-child(2) {
    color:yellow;
    -webkit-animation:rollIn 1s 1 ease-in-out;
    animation:rollIn 1s 1 ease-in-out
}
#a3 div:nth-child(4) {
    color:green;
    -webkit-animation:flip 1.5s 1 ease-in-out;
    animation:flip 1.5s 1 ease-in-out
}
#a3 div:nth-child(6) {
    color:purple;
    -webkit-animation:rollIn 2s 1 ease-in-out;
    animation:rollIn 2s 1 ease-in-out
}
#a3 div:nth-child(8) {
    color:royalblue;
    -webkit-animation:flip 2.5s 1 ease-in-out;
    animation:flip 2.5s 1 ease-in-out
}
#a3 div:nth-child(10) {
    color:brown;
    -webkit-animation:rollIn 3s 1 ease-in-out;
    animation:rollIn 3s 1 ease-in-out
}
#a3 div:nth-child(3) {
    color:mediumspringgreen;
    -webkit-animation:rollOut 2s 1 ease-in-out;
    animation:rollOut 2s 1 ease-in-out
}
#a3 div:nth-child(5) {
    color:salmon;
    -webkit-animation:bounceInRight 1.5s 1 ease-in-out;
    animation:bounceInRight 1.5s 1 ease-in-out
}
#a3 div:nth-child(7) {
    color:aqua;
    -webkit-animation:rollOut 1s 1 ease-in-out;
    animation:rollOut 1s 1 ease-in-out
}
#a3 div:nth-child(9) {
    color:mediumpurple;
    -webkit-animation:bounceInRight 3s 1 ease-in-out;
    animation:bounceInRight 3s 1 ease-in-out
}
.a3 div:nth-child(3),.a3 div:nth-child(5),.a3 div:nth-child(7),.a3 div:nth-child(9) {
    line-height:30px;
    margin-left:266px;
    margin-top:48px;
    font-size:41px;
    text-shadow:2px 2px 0 #000
}
.a4 {
    width:90%;
    height:90%;
    margin:55px auto;
    -webkit-transform:translate(-500px,0);
    transform:translate(-500px,0)
}
#a4 {
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out
}
.a4 div:nth-child(1) {
    position:absolute;
    top:75%;
    left:20%;
    height:120px;
    width:126px;
    background:url("./images/hou.png");
    margin-right:60px;
    -webkit-animation:bounceInLeft 50s 1 ease-in-out;
    animation:bounceInLeft 50s 1 ease-in-out
}
#a4 div:nth-child(1) {
    transform-origin:center center;
    -webkit-animation:move 3s infinite ease-in-out;
    animation:move 3s infinite ease-in-out
}
.a4 div:nth-child(2) {
    position:absolute;
    top:75%;
    left:50%;
    height:120px;
    width:126px;
    background:url("./images/qian.png");
    margin-right:60px;
    -webkit-animation:bounceInRight 50s 1 ease-in-out;
    animation:bounceInRight 50s 1 ease-in-out
}
#a4 div:nth-child(2) {
    transform-origin:center center;
    -webkit-animation:move 3s infinite ease-in-out;
    animation:move 3s infinite ease-in-out
}
.a4 div:nth-child(3) {
    position:absolute;
    top:64%;
    left:29%;
    height:209px;
    width:193px;
    background:url("./images/zhijia.png");
    z-index:1;
    -webkit-animation:bounceInDown 1s 1 ease-in-out;
    animation:bounceInDown 1s 1 ease-in-out
}
.a4 div:nth-child(4) {
    position:absolute;
    top:80%;
    left:42%;
    height:37px;
    width:39px;
    background:url("./images/zhong.png")no-repeat;
    -webkit-animation:bounceInUp 1s 1 ease-in-out;
    animation:bounceInUp 1s 1 ease-in-out
}
#a4 div:nth-child(4) {
    transform-origin:center center;
    -webkit-animation:move 3s infinite ease-in-out;
    animation:move 3s infinite ease-in-out
}
.a4 div:nth-child(5) {
    position:absolute;
    top:69%;
    left:58%;
    height:69px;
    width:65px;
    background:url("./images/xin.png")no-repeat
}
.a4 div:nth-child(6) {
    position:absolute;
    top:58%;
    left:32%;
    height:69px;
    width:65px;
    background:url("./images/未标题-2.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(7) {
    position:absolute;
    top:43%;
    left:24%;
    width:208px;
    height:180px;
    background:url("./images/san.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(8) {
    position:absolute;
    top:27%;
    left:28%;
    width:25px;
    height:40px;
    background:url("./images/o1.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(9) {
    position:absolute;
    top:33%;
    left:45%;
    width:20px;
    height:31px;
    background:url("./images/o3.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(10) {
    position:absolute;
    top:33%;
    left:7%;
    width:28px;
    height:50px;
    background:url("./images/o2.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(11) {
    position:absolute;
    top:40%;
    left:46%;
    width:25px;
    height:43px;
    background:url("./images/o4.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(12) {
    position:absolute;
    top:28%;
    left:61%;
    width:27px;
    height:45px;
    background:url("./images/o5.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(13) {
    position:absolute;
    top:25%;
    left:69%;
    width:25px;
    height:30px;
    background:url("./images/o6.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(14) {
    position:absolute;
    top:36%;
    left:70%;
    width:23px;
    height:41px;
    background:url("./images/o7.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(15) {
    position:absolute;
    top:16%;
    left:20%;
    width:100px;
    height:63px;
    background:url("./images/yun1.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(16) {
    position:absolute;
    top:25%;
    left:40%;
    width:80px;
    height:50px;
    background:url("./images/yun2.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(17) {
    position:absolute;
    top:13%;
    left:54%;
    width:144px;
    height:92px;
    background:url("./images/yun3.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(18) {
    position:absolute;
    top:9%;
    left:68%;
    width:100px;
    height:86px;
    background:url("./images/yun4.png")no-repeat;
    background-size:100% 100%
}
.a4 div:nth-child(19) {
    position:absolute;
    top:48%;
    left:68%;
    width:130px;
    height:103px;
    background:url("./images/tansuo.png")no-repeat;
    background-size:100% 100%
}
.a5 {
    width:80%;
    height:88%;
    margin:10%;
    overflow:hidden;
    text-align:center;
    position:relative;
    -webkit-transform:translate(-500px,0);
    transform:translate(-500px,0)
}
#a5 {
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out
}
.a5 div:nth-child(1) {
    float:left;
    width:48%;
    height:60px;
    line-height:160%;
    text-align:center;
    background:white;
    padding:20px 10px 10px 20px;
    border-radius:49%;
    margin:57px 0 0 40px;
    font-weight:bold;
    font-size:18px;
    border:3px solid #ccc;
    box-shadow:2px 2px 3px 0 #ccc;
    opacity:0;
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out
}
#a5 div:nth-child(1) {
    opacity:1
}
.a5 div:nth-child(2) {
    float:left;
    width:0;
    height:0;
    border:18px solid peru;
    border-radius:50%;
    margin-top:23px;
    margin-left:30px;
    background:white;
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out
}
#a5 div:nth-child(2) {
    width:120px;
    height:120px
}
.a5 div:nth-child(2) img {
    -webkit-transform-origin:bottom center;
    transform-origin:50% 80%;
    -webkit-animation:move 3s infinite ease-in-out;
    animation:move 3s infinite ease-in-out
}
@-webkit-keyframes move {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}@keyframes move {
     0% {
         -webkit-transform:rotate(0deg);
         transform:rotate(0deg)
     }
     100% {
         -webkit-transform:rotate(360deg);
         transform:rotate(360deg)
     }
 }.a5 div:nth-child(3) {
      width:0;
      height:0;
      position:absolute;
      top:25%;
      left:2%;
      font-size: 30px;
      text-align: center;
      padding: 10px;
      border:26px solid palevioletred;
      border-radius:20px;
      background:paleturquoise;
      -webkit-transition:1s ease-in-out;
      transition:1s ease-in-out
  }
#a5 div:nth-child(3) {
    width:86%;
    height:30%
}
.a5 div:nth-child(3) img {
    margin-top:20px;
    -webkit-animation:fang 2s infinite linear;
    animation:fang 3s infinite linear
}
@-webkit-keyframes fang {
    0% {
        -webkit-transform:scale(0.5);
        transform:scale(0.5)
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}@keyframes fang {
     0% {
         -webkit-transform:scale(0.5);
         transform:scale(0.5)
     }
     100% {
         -webkit-transform:scale(1);
         transform:scale(1)
     }
 }.a5 div:nth-child(4) {
      width:109px;
      height:49px;
      position:absolute;
      top:61%;
      left:41%;
      background:palevioletred;
      border-top:1px solid deeppink;
      border-bottom:1px solid deeppink;
      -webkit-transform:translate(0,-500px);
      transform:translate(0,-500px)
  }
#a5 div:nth-child(4) {
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:.5s ease-in-out;
    transition:.5s ease-in-out
}
.a5 div:nth-child(5) {
    width:250px;
    height:49px;
    position:absolute;
    top:67%;
    left:28%;
    background:palevioletred;
    border-radius:10px;
    border-top:1px solid deeppink;
    border-bottom:1px solid deeppink;
    -webkit-transform:translate(0,500px);
    transform:translate(0,500px)
}
#a5 div:nth-child(5) {
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:.5s ease-in-out;
    transition:.5s ease-in-out
}
.a5 div:nth-child(6) {
    width:100%;
    height:20%;
    position:absolute;
    top:79%;
    left:0;
    background:palegreen;
    border-radius:20px;
    -webkit-transform:translate(-500px,0);
    transform:translate(-500px,0)
}
#a5 div:nth-child(6) {
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out
}
.a5 div:nth-child(7),.a5 div:nth-child(8),.a5 div:nth-child(9) {
    width:25%;
    height:15%;
    line-height:197%;
    text-align:center;
    border-radius:50%;
    top:81%;
    position:absolute;
    -webkit-transform:translate(-500px,0);
    transform:translate(-500px,0)
}
#a5 div:nth-child(7),#a5 div:nth-child(8),#a5 div:nth-child(9) {
    -webkit-transform:translate(0,0);
    transform:translate(0,0)
}
.a5 div:nth-child(7) span,.a5 div:nth-child(8) span,.a5 div:nth-child(9) span {
    display:block;
    color:black;
    font-size:30px;
    text-align: center;
    font-weight:bold;
    margin-top:38px
}
.a5 div:nth-child(7) {
    left:25px;
    background:plum
}
#a5 div:nth-child(7) {
    -webkit-transition:2.5s ease-in-out;
    transition:2.5s ease-in-out
}
.a5 div:nth-child(8) {
    left:185px;
    background:deepskyblue
}
#a5 div:nth-child(8) {
    -webkit-transition:2s ease-in-out;
    transition:2s ease-in-out
}
.a5 div:nth-child(9) {
    left:350px;
    background:papayawhip
}
#a5 div:nth-child(9) {
    -webkit-transition:1.5s ease-in-out;
    transition:1.5s ease-in-out
}
.a6 div:nth-child(1) {
    position:absolute;
    top:57%;
    left:30%;
    width:270px;
    height:386px;
    background:url("./images/yizi.png")no-repeat;
    background-size:100% 100%
}
.a6 div:nth-child(2) {
    position:absolute;
    top:62%;
    left:39%;
    width:150px;
    height:150px;
    border-radius:50%;
    box-shadow:5px 5px 10px 0 #ccc;
    background:url("./images/22.png")no-repeat;
    background-size:100% 100%
}
#a6 div:nth-child(2) {
    -webkit-animation:bouncein 1s 1 ease-in-out;
    animation:bouncein 1s 1 ease-in-out
}
#a6 div:nth-child(3) {
    position:absolute;
    top:10%;
    left:33%;
    width:200px;
    height:49px;
    font-size:65px;
    color:red;
}
#a6 div:nth-child(3) {
    -webkit-animation:jello 5s infinite ease-in-out;
    animation:jello 5s infinite ease-in-out
}
.a6 div:nth-child(4) {
    position:absolute;
    top:20%;
    left:50%;
    width:200px;
    height:150px;
    font-size:70px;
    color:hotpink;
}
#a6 div:nth-child(4) {
    -webkit-animation:rubberBand 2s infinite ;
    animation:rubberBand 2s infinite
}
.a6 div:nth-child(5) {
    position:absolute;
    top:33%;
    left:40%;
    width:115px;
    height:167px;
    font-size:60px;
    color:lightseagreen;
}
#a6 div:nth-child(5) {
    -webkit-animation:swing 5s infinite ease-in-out;
    animation:swing 5s infinite ease-in-out
}

.a6 div:nth-child(6) {
    position:absolute;
    top:42%;
    left:27%;
    width:300px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:palevioletred;
    font-size:30px;
    border-radius:31px;
    color:white
}
.a6 div:nth-child(6) span {
    width:100px;
    margin:10px
}
.a6 div:nth-child(7) {
    position:absolute;
    top:49%;
    left:27%;
    width:300px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:palevioletred;
    font-size:30px;
    border-radius:31px;
    color:white
}
.a6 div:nth-child(7) span {
    width:100px;
    margin:10px
}
#a6 div:nth-child(6) {
    -webkit-animation:rubberBand 1s 1 ease-in-out;
    animation:rubberBand 1s 1 ease-in-out
}
#a6 div:nth-child(7) {
    -webkit-animation:rollIn 1s 1 ease-in-out;
    animation:rollIn 1s 1 ease-in-out
}
audio {
    display:none
}
.music {
    display:none;
    position:absolute;
    top:36px;
    right:102px;
    width:30px;
    height:30px;
    background:url("./images/music.svg") no-repeat;
    background-size:100% 100%;
    z-index:10000
}
.move {
    -webkit-animation:musicMove 1s linear infinite;
    animation:musicMove 1s linear infinite;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
@-webkit-keyframes musicMove {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}@keyframes musicMove {
     0% {
         -webkit-transform:rotate(0deg);
         transform:rotate(0deg)
     }
     100% {
         -webkit-transform:rotate(360deg);
         transform:rotate(360deg)
     }
 }